<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>{% block title %}{{ proxy_title }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@FloschProxyBundle/Resources/public/css/vendor.min.css'
                output='css/app.min.css' %}
                <link rel='stylesheet' href='{{ asset_url }}'>
            {% endstylesheets %}
        {% endblock %}
        {% block favicons %}
            <link rel='apple-touch-icon' href='{{ asset('apple-touch-icon.png') }}' sizes='180x180'>
            <link rel='icon' type='image/png' href='{{ asset('favicon-32x32.png') }}' sizes='32x32'>
            <link rel='icon' type='image/png' href='{{ asset('favicon-16x16.png') }}' sizes='16x16'>
            <link rel='manifest' href='{{ asset('manifest.json') }}'>
            <link rel='mask-icon' href='{{ asset('safari-pinned-tab.svg') }}' color='#748ffc'>
            <meta name='theme-color' content='#748ffc'>
        {% endblock %}
        {% block head_data %}{% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body %}
            {% block app_header %}{% endblock %}
            <main id='main'>
                {% block app_container %}
                    <div class='container'>
                        {% block app_content %}{% endblock %}
                    </div>
                {% endblock %}
            </main>
            {% block app_footer %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                '@FloschProxyBundle/Resources/public/js/vendor.min.js'
                '@FloschProxyBundle/Resources/public/js/app.min.js'
                output='js/app.min.js'
                %}
                <script src='{{ asset_url }}'></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
