{% extends 'FloschProxyBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@FloschProxyBundle/Resources/public/css/login.min.css'
        output='css/login.min.css' %}
        <link rel='stylesheet' href='{{ asset_url }}'>
    {% endstylesheets %}
{% endblock %}

{% block app_header %}{% endblock %}

{% block app_container %}
    <section id='login' class='vertical-wrapper'>
        <header id='login-header' class='mb-4'>
            <h1 class='text-info'>{{ proxy_title }}</h1>
            <p><u>Authentication required</u></p>
        </header>
        {% if error %}
            <div class='alert alert-danger alert-dismissable'>
                <a href='#' class='close' data-dismiss='alert'>&times;</a>
                <p><strong>Erreur !</strong> {{ error.message|trans }}</p>
            </div>
        {% endif %}
        <form action='{{ path('flosch_proxy_login_check_page') }}' method='post' autocomplete='off'>
            <div class='form-group mb-4'>
                <label for='username' class='control-label sr-only'>Username</label>
                <div class='input-group'>
                    <span class='input-group-addon'>
                        <span class='fa fa-user-o'></span>
                    </span>
                    <input type='text' class='form-control' id='username' name='_username' value='{{ last_username }}' placeholder='Username'>
                </div>
            </div>
            <div class='form-group mb-4'>
                <label for='password' class='control-label sr-only'>Password</label>
                <div class='input-group'>
                    <span class='input-group-addon'>
                        <span class='fa fa-key'></span>
                    </span>
                    <input type='password' class='form-control' id='password' name='_password' value='' placeholder='Password'>
                </div>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn-info btn-block' name='submit'>Connection</button>
            </div>
        </form>
    </section>
{% endblock %}
